body {
    background-image: url(./img/crud.png);
    background-size: cover;
}

body i {
    font-size: xx-large;
}

body i:hover {
    transition: .3s linear;
    opacity: 0.6;
}

.buttons .btnAdd-green {
    color: rgb(54, 156, 54);
}
.buttons .btnSave-yellow {
    color: rgb(171, 223, 28);
}
.buttons .btnChange-blue {
    color: rgb(108, 108, 206);
}
.buttons .btnDelete-red {
    color: rgb(202, 65, 65);
}

.buttons .btnBack-red {
    color: rgb(255, 255, 255);
}

.buttons input {
    background-color: #D1E7DD;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.inputTable {
    opacity: 0.9;
}


